<table class="table table-hover">
	<thead>
		<tr>
			<th>Цена</th>
			<th>Тип</th>
			<th>Адрес</th>
			<th class="hidden-xs">Дата Публикации</th>
			<th class="hidden-xs">#</th>
		</tr>
	</thead>
	<tbody>
		<% @itms.each do |apt| %>
		<tr>			
			<td id="price"><%= apt[:cost] %></td>
			<td id="title"><a href="<%= apt[:url] %>"><%= apt[:title] %></a></td>
			<td id="address"><%= apt[:address] %></td>
			<td class="hidden-xs" id="date"><%= apt[:date] %></td>
			<td class="hidden-xs" id="owner"><span class="label label-warning"><%= apt[:owner] %></span></td>
		</tr>
		<% end %>						
	</tbody>
</table>